@font-face {
    font-family: montserrat;
    src: url("../fonts/montserrat/montserrat.ttf");
}


.container{
  margin-top: 70px;
  background-color: #fff;
  border-radius: 4px;
  padding: 64px;
}
.container:hover{
  /*background-color: #fff;*/
  /*animation: pulse 5s infinite;*/
  background-image: url("../img/geometry.png");
  background-repeat: repeat;
  /*background-attachment: fixed;
  background-size: cover;*/

}

.bookDisplay{
  padding: 8px;
  padding-right: 0px;
}

body{
/*  http://www.w3schools.com/css/css3_gradients.asp */
  background: #ED9282; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ED9282, #FDD692); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ED9282, #FDD692); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ED9282, #FDD692); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ED9282, #FDD692); /* Standard syntax */
  /*background-image: url("../img/c.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;*/
}

#addBook{
  margin: 10px;
}

h1{
    font-family: montserrat;
    letter-spacing: 5px;
}

#navv{
  font-family: montserrat;
}

#title{
  margin-left: 250px;
  color: black;
  letter-spacing: 5px;
}

#title:hover{
  animation: titlehover 5s infinite;
}

@keyframes titlehover {
  0% {
    color: #D81159;
  }
  100% {
    color: #F6B352;
  }
}


@keyframes pulse {
  0% {
    background-color: #d8e9ef;
  }
  100% {
    background-color: #f8ecc9;
  }
}


.books{
/*  border: 2px solid #000;*/

}

/*image hover effect from: https://designshack.net/articles/css/joshuajohnson-2/*/
.imgEffect {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.imgEffect:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
